body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffc107; /* Gul färg */
    color: #1c1c1c; /* Svart text */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 10rem;
    margin-right: 2rem;
  }
  
  button:hover {
    background-color: #e0a800; /* Mörkare gul vid hover */
  }
  

h2 {
    font-size: 2.5rem;
    color: #ffc107;
}