.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1c1c1c; 
    color: #ffc107; 
  }
  
  .header-link {
    color: #ffc107;
    margin-right: 15px;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .header-link:hover {
    color: #ff4d4d;
  }
  