.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1c1c1c; 
    color: #ffc107; 
  }

.header-link {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ffc107; /* Gul färg */
    color: #1c1c1c; /* Svart text */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.header-link:hover {
    background-color: #e0a800; /* Mörkare gul vid hover */
  }